#thesis {
    background-color: blue
}

.boxes {
    margin: auto;
    width: 50%;
    border: 1px solid black;
    padding: 10px;
}

.class1 {
    /* text-align: center;
    border: 10px solid black;
    height: 500px;
    width: 250px; */
}

.block {
    margin: auto;
    height: 1px;
    width: 1px;
    border: 1px solid black;
}